<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
		</encoder>
	</appender>
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">  
       <file>logs/log.log</file>  
       <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
         <fileNamePattern>logs/log-%d{yyyy-MM-dd}.%i.log</fileNamePattern>  
         <maxHistory>100</maxHistory>   
         <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
           <maxFileSize>100MB</maxFileSize>  
         </timeBasedFileNamingAndTriggeringPolicy>  
       </rollingPolicy>  
       <encoder>  
         <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>  
       </encoder>  
	</appender>
	
	<root level="ERROR">
		<appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING"/>
	</root>
	
	
    <logger name="org.hibernate.SQL" level="ERROR" />
    <!-- <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE"/> --> 
</configuration>