<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>布局</title>
    <link rel="stylesheet" href="/css/element.css">
    <style>

    body,html {margin: 0 auto;height:100%;width: 100%;}

    #app {
        height: 100%;
        width: 100%;
        margin: 5px;
    }

    </style>
</head>
<body>


<div id="app">

    <el-container style="border: 1px solid #eee;height: 100%;">
        <el-header  style="padding: 0">

            <template>
            <el-menu
                :default-active="activeIndex"
                @select="topMenuHandleSelect"
                class="el-menu-demo"
                mode="horizontal"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b">

                <template v-for="(menu, index) in topMenus">
                    <el-menu-item :index="menu.id"  >{{menu.name}}</el-menu-item>
                </template>
            </el-menu>
            </template>
        </el-header>
        <el-container>
            <el-aside style="widht:20%;height:100%;">

                <el-menu default-active="0" @select="menuHandleSelect">
                    <template v-for="(menu, index) in menus">
                        <el-submenu  v-if=" menu.childs && menu.childs.length>0 " :index="index+''" >
                            <template slot="title"><i class="el-icon-menu"></i>{{menu.name}}</template>
                            <el-menu-item v-for="(child, index2) in menu.childs" :index="index+'_'+index2">{{child.name}}</el-menu-item>
                        </el-submenu>
                        <el-menu-item v-else :index="index+''"  >{{menu.name}}</el-menu-item>
                    </template>
                </el-menu>

            </el-aside>
            <el-container>
                <el-main>Main</el-main>

            </el-container>
        </el-container>
    </el-container>
</div>

</body>
<script src="/js/vue.js"></script>
<script src="/js/element.js"></script>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            activeIndex:'1',
            topMenus:[
                {
                    "id": "1",
                    "name": "菜单001",
                    "type": "MENU",
                    "parentId": "",
                    "childs": [{
                        "id": "101",
                        "name": "子项101",
                        "type": "MENU",
                        "url": "/productreport/productReportPage3",
                        "parentId": "1",
                        "childs": []
                    },{
                        "id": "102",
                        "name": "子项102",
                        "type": "MENU",
                        "url": "/productreport/productReportPage3",
                        "parentId": "1",
                        "childs": []
                    }]
                },
                {
                    "id": "2",
                    "name": "菜单002",
                    "type": "MENU",
                    "parentId": "",
                    "childs": [{
                        "id": "201",
                        "name": "子项201",
                        "type": "MENU",
                        "url": "/productreport/productReportPage3",
                        "parentId": "1",
                        "childs": []
                    },{
                        "id": "202",
                        "name": "子项202",
                        "type": "MENU",
                        "url": "/productreport/productReportPage3",
                        "parentId": "1",
                        "childs": []
                    }]
                },
                {
                    "id": "3",
                    "name": "菜单003",
                    "type": "MENU",
                    "parentId": "",
                    "childs": []
                }
            ],
            menus:[]

        },
        methods: {
            created: function () {
                this.$http.get('/menus/data').then(function(response){
                        if(response.body.data){
                            this.topMenus = response.body.data;
                            if(this.topMenus){
                                var obj = this.topMenus[0];
                                this.topMenuHandleSelect(obj.id,null);
                            }
                        }
                    },
                    function(response) {}
                );
            },
            menuHandleSelect:function(key, keyPath) {
                console.log(key);
                console.log(keyPath);
                console.log(key, keyPath);
            },
            topMenuHandleSelect:function (key,keyPath) {
                for(var i=0;i<this.topMenus.length;i++){
                    if(this.topMenus[i].id==key && this.topMenus[i].childs && this.topMenus[i].childs!=null &&this.topMenus[i].childs.length>0){
                        this.menus = this.topMenus[i].childs;
                        break;
                    }
                }
            }
        }
    })

</script>


</html>